.container {
    min-height: 100vh;
    background-color: #607d8b;
    padding-top: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.containerMapSidebar {
    display: flex;
    width: 92%;
    margin-top: 50px;
    margin-bottom: 150px;
    height: 750px;
    align-items: center;
    justify-content: center;
}

.infoContainer {
    color: #001f3f;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: xx-large;
}
.infoContainer p {
    font-weight: normal;
}
.searchContainer {
    display: flex;
    align-items: center;
    width: 600px;
    padding: 10px;
}
.searchContainer .actions {
    display: flex;
}

/* Style for the search input */
.searchContainer input[type="text"] {
    padding: 10px;
    border: 2px solid #607d8b; /* Cosmic Dust Gray */
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

/* Style for the search button */
.searchContainer button,
.clearMap {
    padding: 12px 17px;
    background-color: #001f3f; /* Deep Space Blue */
    color: #ffd700; /* Celestial Gold */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-wrap: nowrap;
    z-index: 20;
}
.clearMap {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    z-index: 20;
}

/* Hover effect for the button */
.searchContainer button:hover {
    background-color: #004080; /* Darker shade of Deep Space Blue */
}
.mapContainer {
    position: relative;
    width: 76%;
    height: 100%;
}

.frame {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    z-index: 15;
    display: flex;
    align-items: center;
    background-color: #607d8b;

    justify-content: center;
}
.frame2 {
    height: 100%;
    left: 0;
    width: 20px;
}
.frame3 {
    height: 100%;
    width: 20px;
    left: calc(100% - 20px);
}
.frame4 {
    height: 20px;
    width: 100%;
    top: 0;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #05162877;
}
.custom-popup {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    max-width: 300px;
}

.custom-popup p {
    margin: 5px 0;
}

.custom-popup p:first-child {
    font-weight: bold;
    font-size: 16px;
}

.custom-popup p:not(:first-child) {
    color: #666;
    font-size: 12px;
}

/* Style for the select dropdown */
.searchContainer select {
    padding: 10px;
    border: 2px solid #607d8b; /* Cosmic Dust Gray */
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px; /* Optional: Add margin if needed */
    background-color: #fff; /* White background */
    color: #001f3f; /* Deep Space Blue text */
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* Remove default arrow for Safari */
    -moz-appearance: none; /* Remove default arrow for Firefox */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns%3D"http%3A//www.w3.org/2000/svg" width%3D"8" height%3D"8" viewBox%3D"0 0 8 8"%3E%3Cpath fill%3D"%23001f3f" d%3D"M4 5l-3-3h6z"%3E%3C/path%3E%3C/svg%3E'); /* Custom arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
}

.hidden {
    display: none;
}
/* Style for the options */
.searchContainer select option {
    background-color: #fff; /* White background */
    color: #001f3f; /* Deep Space Blue text */
    padding: 10px;
}

/* Hover effect for the select dropdown */
.searchContainer select:hover {
    border-color: #004080; /* Darker shade of Cosmic Dust Gray */
}

/* Add focus effect for better accessibility */
.searchContainer select:focus {
    outline: none;
    border-color: #004080; /* Darker shade of Cosmic Dust Gray */
    box-shadow: 0 0 5px rgba(0, 64, 128, 0.5); /* Slight shadow for focus effect */
}

@media (max-width: 900px) {
    .searchContainer {
        width: 90%;
        justify-content: space-around;
    }

    .searchContainer input[type="text"] {
        width: 40%;
    }
    .actions {
        width: 40%;
    }
    .actions button {
        width: 45%;
        padding: 1px;
    }
    .actions select {
        width: 51%;
    }
}
