@media screen and (max-width: 640px) {
    .containerMapSidebar {
        flex-direction: column;
        height: 1000px;
        gap: 20px;
        width: 100%;
    }
    .infoContainer {
        width: 96%;
    }
    .infoContainer p {
        font-size: 20px;
    }
    .infoContainer h2 {
        font-size: 30px;
        margin-bottom: 0;
    }
    .mapContainer {
        width: 90%;
        margin-bottom: 10px;
    }
    .searchContainer {
        width: 90%;
    }
    .searchContainer button {
        overflow: hidden;
        width: 35%;
    }
    .searchContainer input[type="text"] {
        padding: 10px;
        border: 2px solid #607d8b; /* Cosmic Dust Gray */
        border-radius: 5px;
        font-size: 16px;
        width: 60%;
    }
}

.sidebar {
    width: 20%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    background-color: #001f3f;
    overflow-y: auto; /* Enable vertical scrolling */
    padding-left: 10px;
    padding-right: 10px;
    color: #ffd700;
    border-radius: 0px 10px 10px 0;
}

.logo img {
    width: 100px; /* Adjust logo width as needed */
    margin-bottom: 20px;
}

.hop {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #fff2af; /* Add a border between hops */
}

.hop-number {
    font-weight: bold;
    margin-right: 10px;
}

.hop-info {
    flex-grow: 1; /* Grow to fill available space */
}

.country {
    font-weight: bold;
}

.lat-long {
    font-style: italic;
}
/* 
@media screen and (max-width: 1100px) {
    .sidebar {
        width: 209px;
    }
} */
@media screen and (max-width: 640px) {
    .sidebar {
        margin-top: 30px;
        width: 83% !important;
        position: relative;
        width: 90%;
        border-radius: 20px;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
    }
}
